.background {
  background: url("../images/Create\ background.final.fw.png") fixed no-repeat;
  background-size: cover;
  padding-top: 2vh;
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.createGlobal {
  display: flex;
  background: radial-gradient(#cae9f4, #30a7d7);
  min-width: 75%;
  min-height:35rem;
  border-style: solid;
  border-width: 2px;
  border-radius: 0.5rem;
  border-color: #060000e6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 3rem;
  color: rgb(50, 50, 50);
  text-decoration: none;
  font-size: x-large;
  font-weight: 700;
  text-shadow: none;
  background-color: var(--color-yellow);
  border-style: solid;
  border-radius: 0.25rem;
  border-color: rgba(0, 0, 0, 0.7);
  border-width: 2px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 2rem;


}

.pikachu {
  padding-left: 5%;
  padding-right: 2%;
  margin-top: 5%;
}

.pikachu > img {
  width: 22svw;
}

.create {
  background-color: var(--color-green-extralight);
  min-width: 60%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  margin: 2%;
  padding-bottom: 2%;
  padding-top: 2%;
  border-style: solid;
  border-width: 2px;
  border-radius: 0.5rem;
  border-color: #060000e6;
}

.formGlobal {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 5%;
  /* width: 50%; */
}
.form {
  display: flex;
  justify-content: space-between;
  margin-top: 1vh;
  color: rgb(50, 50, 50);
  font-size: large;
  font-weight: 700;
  text-shadow: none;
}

.form > input {
  border-style: solid;
  border-width: 2px;
  border-radius: 0.5rem;
  border-color: #060000e6;
  padding-left: 0.25vw;
  max-height: 3svh;
  max-width: 70%;
}
.typesCheck {
  color: rgb(50, 50, 50);
  font-size: large;
  font-weight: 700;
  text-shadow: none;
}

.typeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.typesBoxes {
  padding-left: 1vw;
  padding-right: 1vw;
}
.type {
  background-color: #ff7f00;
  margin-top: 1vh;
  border-style: solid;
  border-width: 2px;
  border-radius: 0.5rem;
  border-color: #060000e6;
  padding-left: 1vw;
  padding-right: 1vw;
  display: flex;
  align-items: center;
}

.type:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.type > label {
  color: white;
  padding-left: 5%;
}

.createReset {
  display: flex;
  justify-content: center;
  align-items: center;
}

.createButton {
  background-color: #557821;
  min-width: 30rem;
  padding: 0.25vw;
  border-style: solid;
  border-width: 2px;
  border-radius: 0.5rem;
  border-color: #060000e6;
  font-size: medium;
  font-weight: 700;
  text-shadow: none;
  font-family: "Lexend";
  color: #ffde00;
  margin-top: 1vh;
}

.createButton:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.05);
  transition-duration: 1s;
}

/* .reset:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.05);
  transition-duration: 1s;
} */

.pikachuExito {
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.spinnerloader {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 100vh;
  /* margin-left: 30vw; */
  margin-bottom: 30vh;
}

.loading {
  padding-left: 9vw;
  padding-right: 8vw;
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

