.navHomeGlobal {
  display: flex;
  justify-content: center;
}

.navHomeGlobal li {
  list-style-type: none;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}

.listContainer {
  background-color: #ed1c23c7;
  padding-inline-start: 0px;
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  border-radius: 0.5rem;
  border-color: #060000e6;
  margin-bottom: 10px;
  margin-top: 10px;
}

.listContainer:hover{
  background-color: #ed1c23;
}

.selectStyles {
  font-size: large;
  border-radius: 0.25rem;
  padding: 2px;
}
