.background {
  background: url("../images/PokemonPage\ background.png") fixed no-repeat,
    radial-gradient(#d7ecf9, #88c8ee);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 95svh;
}

.headerContainer {
  grid-area: headerContainer;
}
.image {
  grid-area: image;
}
.info {
  grid-area: info;
}

.pageGlobal {
  min-width: 75%;
  max-height:40rem;
  margin-top: 2svh;
  background: radial-gradient(#f89a9e, #ed1c24);
  display: grid;
  grid-template-areas:
    "headerContainer headerContainer headerContainer headerContainer"
    "image image info info";
  border-style: solid;
  border-width: 2px;
  border-radius: 0.5rem;
  border-color: #060000e6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 2svh;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(white, rgb(225, 224, 224)) center;
  border-style: solid;
  border-width: 2px;
  border-radius: 0.5rem;
  border-color: #060000e6;
  margin: 2vh;
  padding-bottom: 5%;
}

.image > img{
  max-width: 320px;
  height: auto;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #30a7d7;
  border-style: solid;
  border-width: 2px;
  border-radius: 0.5rem;
  border-color: #060000e6;
  padding-left: 1vw;
  padding-right: 1vw;
  text-decoration: none;
  color: white;
  font-size: x-large;
  font-weight: 700;
  text-shadow: 2px 0px rgb(0, 0, 0);
  margin: 2vh;
  padding-bottom: 10%;
}

.infoDataContainer {
  display: flex;
}
.infoblack {
  text-decoration: none;
  color: rgb(50, 50, 50);
  font-size: x-large;
  font-weight: 700;
  text-shadow: none;
}

.typesBox {
  background-color: var(--color-yellow);
  margin-right: 0.75vw;
  padding: 0.5vh;
  padding-left: 0.75vw;
  padding-right: 0.75vw;
  color: rgb(50, 50, 50);
  text-decoration: none;
  font-size: x-large;
  font-weight: 700;
  border-style: solid;
  border-radius: 0.25rem;
  border-color: rgba(0, 0, 0, 0.7);
  border-width: 1px;
  text-shadow: none;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 70%;
  height: 3rem;
  background-color: var(--color-green-light);
  padding-bottom: 1vh;
  padding-top: 1vh;
  border-style: solid;
  border-radius: 0.25rem;
  border-color: rgba(0, 0, 0, 0.7);
  border-width: 1px;
  margin-top: 1rem;
}

.header > h2 {
  text-decoration: none;
  color: white;
  font-size: x-large;
  font-weight: 700;
  text-shadow: 2px 0px rgb(0, 0, 0);
}

.spinnerloader {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 100vh;
  margin-bottom: 30vh;
}

.loading {
  padding-left: 9vw;
  padding-right: 8vw;
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
