.searchBox {
  display: flex;
  justify-content: space-between;
  border-radius: 0.25rem;
  margin-bottom: .2vh;
}

.input {
  border-radius: 0.25rem;
  border-width: 1px;
  padding: .2vw;
  margin-right: .25vw;
  font-size: large;
}

.button {
  border-radius: 0.25rem;
  border-width: 1px;
  background-color: #729f2d;
  padding: .2vw;
  color: white;
  border-color: red;
  font-size: large;
}

.button:hover {
  background-color: #557821;
  color: #ffde00;
}
